{
    "version": "$!{p.version}",
    "code": "$!{p.code}",
    "message": "$!{p.message}",
    "debug": "$!{p.debug}",
    "response": {
        "recommendedCode": "$!{recommendedCode}",
        "orderSn": "$!{bookingOrder.orderSn}",
        "beautyId": "$!{beautyId}",
        "totalQuantity": "$!{bookingOrder.quantity}",
        "totalAmount": "$!{bookingOrder.amount}",
        "payableAmount": "$!{bookingOrder.payable}",
        "thirdpayAmount": "$!{thirdpayAmount}",
        "userBalance": "$!{userBalance}",
        "groups":
        [
            {
                "groupName": "韩式半永久项目",
                "groupType": "SPM",
                "items":
                [
                    #set($i = 0)
                    #foreach($bookingOrderItem in $!{bookingOrderItems})
                    #if($bookingOrderItem.itemType == "SPM")
                        #set($i = $i + 1)
                        #if($i != 1),#end
                    {
                        "itemId": "$!{bookingOrderItem.itemId}",
                        "itemName": "$!{bookingOrderItem.itemName}"
                    }
                    #end
                    #end
                ]
            },
            {
                "groupName": "快时尚项目",
                "groupType": "FFA",
                "items":
                [
                    #set($i = 0)
                    #foreach($bookingOrderItem in $!{bookingOrderItems})
                    #if($bookingOrderItem.itemType == "FFA")
                        #set($i = $i + 1)
                        #if($i != 1),#end
                    {
                        "itemId": "$!{bookingOrderItem.itemId}",
                        "itemName": "$!{bookingOrderItem.itemName}"
                    }
                    #end
                    #end
                ]
            }
        ],
        "charges":
        [
            #foreach($charge in $!{charges})
            #if($velocityCount != 1),#end
            {
                "chargeName": "$!{charge.key}",
                "chargeAmount": "$!{charge.value}"
            }
            #end
        ],
        
        "bookingDate": "$date.format('yyyy年MM月dd日',$!bookingOrder.bookingDate)",
        "bookerPhone" : "$!{bookingOrder.bookerPhone}",
        "bookerName": "$!{bookingOrder.bookerName}"
    }
}