{
    "orderSn":"$!{orderSn}",
    "itemName":"$!{itemName}",
    "money":"$!{money}",
    "imgUrl":"$!{imgUrl}",
    "salonName":"$!{salonName}",
    "status":"$!{status}",
    "bookingSn":"$!{bookingSn}"
}