<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>web</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:consumer.xml,classpath*:applicationContext*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>web</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:dispatcher*.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>web</servlet-name>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  
  <!-- 支付宝网关servlet -->
  <servlet>  
      <servlet-name>Getway</servlet-name>  
      <servlet-class>cn.web.front.action.alipay.Getway</servlet-class>  
  </servlet>
  
   <servlet-mapping>  
        <servlet-name>Getway</servlet-name>  
        <url-pattern>/alipay/Getway</url-pattern>  
  </servlet-mapping>
  
  <filter>
    <filter-name>permissionFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>excludeUri</param-name>
      <param-value>
            /account/device-reg.html;
            /activity/intention.html;
            /alipay/notify.html;/alipay/place.html;/alipay/successh5.html;
            /anti/sms/auth-code/login.html;/anti/user/login.html;
            /beauty/item-info.html;/beauty/item-equipment.html;/beauty/beautyItem-info.html;
            /captcha/ytx-voice-callback.html;/captcha/voice.html;/captcha/sms.html;
            /comment/salon.html;/comment/item.html;/comment/stylist.html;
            /file/qiniu/callback.html;/file/qiniu/get-token.html;
            /fast-fasion/index.html;
            /getAccessTokenByRefreshToken.html;getAccessTokenByRefreshToken.html;
            /laisee/get-laisee-list.html;/laisee/get-laisee-by-mobilephone.html;/laisee/get-laisee-by-wechat.html;
            /location/allArea.html;
            /order/history.html;
            /partner/tencent/app/info.json;
            /payeco/place.html;/payeco/placeh5.html;/payeco/notify.html;/payeco/successh5.html;
            /permissionFilter.html;permissionFilter.html;
            /salon/nearby.html;/salon/salon-detail.html;/salon/praise.html;/salon/branch.html;/salon/item-list.html;/salon/item-detail.html;/salon/star.html;
            /semipermanent/artificer-info.html;/semipermanent/items.html;/semipermanent/artificers.html;/semipermanent/beautyCenter.html;
            /stylist/works.html;/stylist/homepage.html;/stylist/list.html;
            /user/get-userInfo-h5.html;/user/bind-openid-h5.html;/user/get-wechat-userInfo.html;/user/get-wechat-userInfo-by-id.html;
            /user/comment.html;
            /wechat/notify.html;/wechat/placeh5.html;/wechat/place.html;
            /laisee/get-laisee-info.html;/message/system.html;/message/delete.html;/message/read.html;
            /wechat/redPack.html;
            /cart/quantity.html;
            /booking/push-order-success.html;
            /promotion/banners.html;/promotion/index.html;
            </param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>characterFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>permissionFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
</web-app>